@import "hacks";

#column-wrapper
{
  height: 558px;
  
  .column
  {
    border: 1px solid;
    padding: 5px;
    height: 100%;
  
    &#column-left
    {
      width: 200px;
      float: left;
    }
  }
  
}
