/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
#column-wrapper {
  height: 558px; }
  #column-wrapper .column {
    border: 1px solid #dcdcdc;
    height: 100%;
    overflow: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #eaeaea));
    background: -moz-linear-gradient(center top, #f5f5f5 5%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eaeaea'); }
    #column-wrapper .column#column-left {
      width: 180px; }
      #column-wrapper .column#column-left #folder-tree li.placeholder {
        background-image: url("images/ajax-loader.gif");
        background-repeat: no-repeat;
        background-position: left; }
      #column-wrapper .column#column-left #folder-tree span.folder {
        background-image: url("images/folder-16.png");
        padding-left: 20px; }
        #column-wrapper .column#column-left #folder-tree span.folder.opened {
          background-image: url("images/folder-opened-16.png"); }
      #column-wrapper .column#column-left #folder-tree span.folder {
        cursor: pointer; }
        #column-wrapper .column#column-left #folder-tree span.folder:hover {
          color: #9e0000; }
        #column-wrapper .column#column-left #folder-tree span.folder.active {
          font-weight: bold; }
    #column-wrapper .column#column-right table#entries {
      width: 100%; }
      #column-wrapper .column#column-right table#entries thead th {
        color: #777777;
        font-weight: bold;
        text-decoration: none;
        font-size: 10px;
        text-shadow: 1px 1px 0px #ffffff;
        border-right: 1px solid #dcdcdc;
        padding: 5px 0;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background-color: #ededed; }
        #column-wrapper .column#column-right table#entries thead th.entry-action {
          border: none; }
      #column-wrapper .column#column-right table#entries tbody tr.entry {
        border-bottom: 1px solid #dcdcdc;
        font-size: 12px; }
        #column-wrapper .column#column-right table#entries tbody tr.entry.odd {
          background: #fafafa; }
        #column-wrapper .column#column-right table#entries tbody tr.entry.even {
          background: #f5f5f5f; }
        #column-wrapper .column#column-right table#entries tbody tr.entry:hover {
          background: #FFB; }
        #column-wrapper .column#column-right table#entries tbody tr.entry td {
          padding-top: 10px;
          padding-bottom: 10px;
          vertical-align: middle;
          color: #323232; }
          #column-wrapper .column#column-right table#entries tbody tr.entry td.entry-name {
            padding-left: 6px; }
          #column-wrapper .column#column-right table#entries tbody tr.entry td.entry-mod-date {
            text-align: center;
            width: 150px; }
          #column-wrapper .column#column-right table#entries tbody tr.entry td.entry-author {
            text-align: center;
            width: 100px; }
          #column-wrapper .column#column-right table#entries tbody tr.entry td.entry-action {
            padding: 0 5px;
            width: 165px;
            text-align: center;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none; }
    #column-wrapper .column#column-right .header {
      padding: 5px; }
      #column-wrapper .column#column-right .header h2 {
        display: inline-block;
        zoom: 1;
        *display: inline;
        color: #777777;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 0px #ffffff;
        margin-right: 20px; }
      #column-wrapper .column#column-right .header .path {
        font-size: 12px;
        color: #323232; }
      #column-wrapper .column#column-right .header .go-back {
        padding-left: 19px;
        padding-right: 5px;
        background-image: url("images/back-10.png");
        background-repeat: no-repeat;
        background-position: 5px 3px;
        float: right; }
    #column-wrapper .column#column-right #history {
      height: 525px;
      margin-top: 5px;
      overflow: auto;
      color: #323232;
      font-size: 12px; }
      #column-wrapper .column#column-right #history .history-entry {
        border: 1px solid;
        padding: 10px;
        margin: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid; }
        #column-wrapper .column#column-right #history .history-entry:hover {
          -webkit-box-shadow: 0 0px 20px -5px #3f3f3f;
          -moz-box-shadow: 0 0px 20px -5px #3f3f3f;
          box-shadow: 0 0px 20px -5px #3f3f3f; }
        #column-wrapper .column#column-right #history .history-entry.create {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3ffb9), color-stop(1, #ccffd0));
          background: -moz-linear-gradient(center top, #b3ffb9 5%, #ccffd0 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorDark', endColorstr='$colorBright');
          background-color: #ccffd0;
          border-color: #99FFA2; }
        #column-wrapper .column#column-right #history .history-entry.update {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7ffb3), color-stop(1, #faffcc));
          background: -moz-linear-gradient(center top, #f7ffb3 5%, #faffcc 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorDark', endColorstr='$colorBright');
          background-color: #faffcc;
          border-color: #F0FF66; }
        #column-wrapper .column#column-right #history .history-entry.delete {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9999), color-stop(1, #ffb3b3));
          background: -moz-linear-gradient(center top, #ff9999 5%, #ffb3b3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorDark', endColorstr='$colorBright');
          background-color: #ffb3b3;
          border-color: #FF4D4D; }
        #column-wrapper .column#column-right #history .history-entry.restore {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #99dbff), color-stop(1, #b3e4ff));
          background: -moz-linear-gradient(center top, #99dbff 5%, #b3e4ff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorDark', endColorstr='$colorBright');
          background-color: #b3e4ff;
          border-color: #4DC1FF; }
        #column-wrapper .column#column-right #history .history-entry.rename {
          background: #cbcbcb;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfbfbf), color-stop(1, #cbcbcb));
          background: -moz-linear-gradient(center top, #bfbfbf 5%, #cbcbcb 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorDark', endColorstr='$colorBright');
          background-color: #cbcbcb;
          border-color: #A6A6A6; }
        #column-wrapper .column#column-right #history .history-entry span {
          display: inline-block;
          zoom: 1;
          *display: inline;
          margin-right: 10px; }
        #column-wrapper .column#column-right #history .history-entry .action-name {
          width: 250px; }
        #column-wrapper .column#column-right #history .history-entry .action-username {
          width: 120px; }
        #column-wrapper .column#column-right #history .history-entry .action-button {
          position: relative;
          top: -2px;
          float: right; }
  #column-wrapper .vsplitbar {
    width: 5px;
    background-color: #dfdfdf; }
