@import "hacks";
@import "colors";
@import "mixins";

#column-wrapper
{
  height: 558px;
  
  .column
  {
    border:1px solid #dcdcdc;
    height: 100%;
    overflow: auto;
  
           background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #eaeaea) );
        background:-moz-linear-gradient( center top, #f5f5f5 5%, #eaeaea 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eaeaea');
  
    &#column-left
    {
      width: 180px;



      #folder-tree
      {
        
        
        li.placeholder
        {
          background-image: url('images/ajax-loader.gif');
          background-repeat: no-repeat;
          background-position: left;
        }
        
        span.folder
        {
          background-image: url('images/folder-16.png');
          padding-left: 20px;
          
          &.opened
          {
            background-image: url('images/folder-opened-16.png');
          }
        }
        
        
        span.folder
          {
            cursor: pointer;
            
            &:hover
            {
              color: $red;
            }
            
            &.active
            {
              font-weight: bold;
            }
          }
        
      }
    }
    
    &#column-right
    {
      table#entries
      {
        width: 100%;
        thead
        {
          th
          {
            color:#777777;
            font-weight:bold;
            text-decoration:none;
            font-size: 10px;
            text-shadow:1px 1px 0px #ffffff;
            border-right: 1px solid #dcdcdc;
            padding: 5px 0;
            
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
            background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
            background-color:#ededed;
            
            &.entry-action
            {
              border: none;
            }
          }
        }
        tbody
        {
          tr.entry
          {
            border-bottom: 1px solid #dcdcdc;
            font-size: 12px;
            &.odd
            {
              background: #fafafa;
            }
            
            &.even
            {
              background: #f5f5f5f;
            }
            
            &:hover
            {
              background: #FFB;
            }
            
            td
            {
              padding-top: 10px;
              padding-bottom: 10px;
              vertical-align: middle;
              color: #323232;
              
              &.entry-name
              {
                padding-left: 6px;
              }
              
              &.entry-mod-date
              {
                text-align: center;
                width: 150px;
              }
              
              &.entry-author
              {
                text-align: center;
                width: 100px;
              }
              
              &.entry-action
              {
                padding: 0 5px;
                width: 165px;
                text-align: center;
                @include user-select(none);
              }
            }
          }          
        }
      }
      
      .header
      {
        padding: 5px;
         
        h2
        {
          @include inline-block-hack;
          color:#777777;
          font-weight:bold;
          text-decoration:none;
          text-shadow:1px 1px 0px #ffffff;
          margin-right: 20px;
        }
        
        .path
        {
          font-size: 12px;
          color: $black;
        }
        
        .go-back
        {
          padding-left: 19px;
          padding-right: 5px;
          background-image: url('images/back-10.png');
          background-repeat: no-repeat;
          background-position: 5px 3px;
          float: right;
        }
      }
    }
    
    
    
  }
  
  .vsplitbar
  {
    width: 5px;
    background-color:#dfdfdf;
      
  }
  
  
}
