/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
body {
  font-family: 'Verdana' sans-serif; }

h1 {
  font-size: 20px;
  margin-bottom: 10px; }

#main-wrapper {
  width: 960px;
  height: 600px;
  border: 1px solid;
  margin: 10px auto;
  padding: 10px; }
  #main-wrapper #header h1 {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #main-wrapper #header #top-menu {
    float: right; }

dl.form {
  margin-bottom: 5px; }
  dl.form dt, dl.form dd {
    display: inline-block;
    zoom: 1;
    *display: inline;
    float: left;
    margin-bottom: 5px; }
  dl.form dt {
    clear: left;
    width: 50px;
    text-align: right;
    padding-top: 8px;
    margin-right: 5px; }

input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  font-size: 16px; }
