body {
  font-family: 'Verdana' sans-serif; }

h1 {
  font-size: 20px;
  margin-bottom: 10px; }

#main-wrapper {
  width: 960px;
  height: 600px;
  border: 1px solid;
  margin: 10px auto;
  padding: 10px; }
  #main-wrapper #header h1 {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #main-wrapper #header #top-menu {
    float: right; }
