@import "mixins";

$black: #323232;

.rounded-box
{
	padding: 10px;
	display: inline-block;
	
	form
	{
		text-align: center;
		
		ul.form
		{
		  width: 262px;
		  margin-bottom: 10px;
		}
		  .action-button
      {
        font-size: 11px;
      }
	}
}