/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.rounded-box {
  padding: 10px;
  display: inline-block; }
  .rounded-box form {
    text-align: center; }
    .rounded-box form ul.form {
      width: 262px;
      margin-bottom: 10px; }
    .rounded-box form .action-button {
      font-size: 11px; }
